
*.v2
MyWebApp/.vs/MyWebApp/v17/.suo
MyWebApp/.vs/MyWebApp/v17/.suo
MyWebApp/.vs/ProjectEvaluation/mywebapp.metadata.v5.2
MyWebApp/.vs/ProjectEvaluation/mywebapp.projects.v5.2
MyWebApp/.vs/MyWebApp/v17/.suo
*.dll
*.pdb
*.dll
*.vsidx
